.o_workorder_generic_view {
    .o_legacy_form_view {
        color: $o-wo-tablet-text;
        background-color: $o-wo-tablet-bg;
        background-repeat: repeat;
        // background-image: url(/web/static/lib/pdfjs/web/images/texture.png);
        border: $o-wo-tablet-bg;
        text-transform: capitalize;
    }
}
